/ {
	qrd_batterydata: qcom,battery-data {
		qcom,batt-id-range-pct = <5>;
		#include "../common/batterydata/batterydata-qrd-sunwoda-4v4-4100mah.dtsi"
		#include "../common/batterydata/batterydata-qrd-sunwoda-ATL-4v4-4100mah.dtsi"
		#include "../common/batterydata/batterydata-qrd-coslight-4v4-4100mah.dtsi"
		#include "../common/batterydata/batterydata-qrd-desay-lisheng-4v4-4100mah.dtsi"
		#include "../common/batterydata/batterydata-qrd-desay-4v4-4100mah.dtsi"
	};

};