/ {
	qrd_batterydata: qcom,battery-data {
		qcom,batt-id-range-pct = <10>;
		#include "../common/batterydata/Sakura-FMT-4v4-4000mah-41kohm.dtsi"
		#include "../common/batterydata/Sakura-GY-4000mah-51kohm.dtsi"
		#include "../common/batterydata/Sakura-XWD-4000mah-78kohm.dtsi"
		#include "../common/batterydata/Sakura-Default-4000mah-41kohm.dtsi"
		/delete-node/ qcom,qrd_msm8937_sku1_2920mah;
	};
};

&spmi_bus {
	qcom,pmi8950@2 {
		pmi8950_charger: qcom,qpnp-smbcharger {
			qcom,iterm-ma = <200>;
			qcom,float-voltage-mv = <4400>;
			qcom,resume-delta-mv = <50>;
			qcom,charge-unknown-battery;
			/delete-property/ qcom,parallel-usb-min-current-ma;
			/delete-property/ qcom,parallel-usb-9v-min-current-ma;
			/delete-property/ qcom,parallel-allowed-lowering-ma;
			qcom,override-usb-current;
			qcom,fastchg-current-comp = <900>;
			qcom,float-voltage-comp = <16>;
			/delete-property/ qcom,autoadjust-vfloat;
		};
		pmi8950_fg: qcom,fg {
			/delete-property/ qcom,resume-soc;
			qcom,resume-soc-raw = <253>;
			qcom,fg-iterm-ma = <300>;
			qcom,fg-chg-iterm-ma = <200>;
			qcom,fg-cutoff-voltage-mv = <3400>;
			qcom,hold-soc-while-full;
			qcom,fg-cc-cv-threshold-mv =<4390>;
			qcom,vbat-estimate-diff-mv = <250>;
		};
	};
};

&usb3 {
	qcom,usbin-vadc = <&pmi8950_vadc>;
	qcom,detect-dpdm-floating;
	vbus_dwc3-supply = <&smbcharger_charger_otg>;
	extcon = <&qpnp_smbcharger>;
};